:root {
  --color-primary-dark: #00030d;
  --color-primary-medium: #0c1526;
  --color-primary-light: #58748c;
  --color-primary-gray: #4f6273;
  --color-primary-pale: #b8cad9;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
